/*-- scss:defaults --*/

// Colors
$light-blue: #DEF2F1;
$med-blue: #49c5b6;
$dark-blue: #2B7A78;
$dark-dark-blue: #17252A

// base doc colors 
$navbar-bg: $dark-blue; // navbar
$navbar-fg: $med-blue; // navbar foreground elements
$navbar-hl: $dark-dark-blue; // highlight color when hovering over navbar links
$body-bg: $light-blue; // page background 
$body-color: $dark-dark-blue; // page text 
$footer-bg: $dark-dark-blue; // footer 
$link-color: $med-blue; // hyperlinks 